@import url("https://fonts.googleapis.com/css?family=Lora|Roboto")

@Import url("Components/avatar.css");
@Import url("Components/banner.css");
@Import url("Components/container.css");
@Import url("Components/button.css");
@Import url("Components/card.css");

body{	
font-family: 'roboto' , serif;
font-size: 17px;
margin: 0px;
}
h1,h2,h3 {
	font-family: 'roboto', sans-serif;
	font-weight: Bold;
}
a{
	text-decoration: none;
}

body:before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: -1;

  card {
  position: relative;
  overflow: hidden;
}

.learn-btn {
  margin-top: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #0b5cff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.learn-btn:hover {
  background: #0046c1;
}

